.container{
    margin-top:50px;
}

h1{
    margin: auto;
    width: 100%;
    background-color: rgb(0, 91, 128);
    color:white;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}

#gameName{
    border: 2px solid black;
    text-align: left;
    margin-right: 10px;
    margin-left: 50px;
}

#gameType{
    border: 2px solid black;
    margin-right: 10px;
    margin-left: 10px;
}
#gamePrice{
    border: 2px solid black;
    margin-right: 10px;
    margin-left: 10px;
}

#gameContent{
    border: 2px solid black;
    text-align: left;
    margin-right: 10px;
    margin-left: 10px;
}

#gameStore{
    border: 2px solid black;
    text-align: left;
    margin-right: 10px;
    margin-left: 10px;
}

#gameHours {
    border: 2px solid black;
    text-align: left;
    margin-right: 10px;
    margin-left: 10px;
}

#addGameBtn{
    margin-top: 10px;
}

#saveGameBtn{
    margin-top: 10px;
}

#loadGameBtn{
    margin-top: 10px;
}

#removeGameBtn{
    margin-top: 10px;
}

#clearGameBtn{
    margin-top: 10px;
}