{% extends "base.html" %}
{% block content %}

<div class="mui-container mui--text-center">
   <form class="login" method="POST">
      <input type=text name=username placeholder="Name" required>
      <button class="mui-btn mui-btn--primary mui-btn--raised"><a href=home style="text-decoration: none; color:white;">Login</button>
      <button class="mui-btn mui-btn--accent mui-btn--raised"><a href=guest style="text-decoration: none; color:white;">Guest</button>
   </form>
</div>

<style>
   div{
   margin-top: 200px;  
   }

   login{
   display: block;
   margin-left: auto;
   margin-right: auto;
   }

   body{
   background-image: url(https://images.unsplash.com/photo-1485846234645-a62644f84728?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1480&q=80);
   backdrop-filter: blur(2px);
   color: white;
   width: 100%;
   }
</style>

{% endblock %}