{% extends "base.html" %}
{% block content %}

<h1> RomCom List </h1>

<div class="mui-container mui--text-center">
<button class="mui-btn mui-btn--accent mui-btn--raise" style="float: center; margin-bottom: 5%;"><a href = option style="text-decoration: none; color: white;">Go back to option</button>
<button class="mui-btn mui-btn--danger mui-btn--raise" style="float: center; margin-bottom: 5%;"><a href = "/" style="text-decoration: none; color: white;">Go back to home page</button>
</div>

<div class="mui-container mui--text-center">
<table class="mui-table" border=1>
  <thead style="color: yellow;">
    <td>Movie Name</td>
    <td>Release Date</td>
    <td>Genre</td>
    <td>Producer</td>
  </thead>
         
  {% for row in rows %}
    <tr>
      <td>{{row["name"]}}</td>
      <td>{{row["year"]}}</td>
      <td>{{row["genre"]}}</td>
      <td>{{row['producer']}}</td>	
    </tr>
  {% endfor %}
</table>
</div>

<style>
    body{
    background-image: url(https://images.unsplash.com/photo-1505775561242-727b7fba20f0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
    backdrop-filter: blur(2px);
    color: white;
    width: 100%;
    }

    h1{
    text-align:center;
    }

</style>
{% endblock %}