<html>

<head>
    <title>Flask for Fun</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div>
        <div><a href="/">Home</a></div>
        <div>
            <h2 style="text-align:center; padding-top:20px; padding-bottom:20px;">Pick the category, language, and number of jokes to hear</h2>
        </div>
        <form method="POST">
            <div>
                <div style="display:inline-block; padding-left:350px;">
                    <label for="category" value="Category">Category</label>
                    <select name="category" id="selCat" class="btn btn-info">
                        <!-- TODO: Populate categories -->
                        <option value="neutral">Neutral</option>
                        <option value="chuck">Chuck Norris</option>
                        <option value="all">All</option>
                    </select>
                </div>
                <div style="display:inline-block; padding-left:100px;">
                    <label for="language" value="Language" style="display:inline;">Language</label>
                    <select name="language" id="selLang" class="btn btn-info">
                        <!-- TODO: Populate languages -->
                        <option value="en">en</option>
                        <option value="de">de</option>
                        <option value="es">es</option>
                    </select>
                </div>
                <div style="display:inline-block; padding-left:100px;">
                    <label for="number" value="Number" style="display:inline;">Number</label>
                    <select name="number" id="selNum" class="btn btn-info">
                        <!-- TODO: Populate numbers -->
                        <option value="1">1</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                    </select>
                </div>
            </div>
            <div>
                <div style="padding-top:30px;">
                    <button type="submit" id="btnAmuse" value="Tell me a joke" class="btn btn-success bnt-lg btn-block">Amuse me</button>
                </div>
            </div>
        </form>
        <div id="jokes">
            <!-- This is a placeholder for jokes -->
            {% for item in list_of_jokes %}
            <ul style="padding:20px 0px 0px 200px;">

            <li>{{ item }}</li>

            </ul>
            {% endfor %}
        </div>
    </div>
</body>

</html>