<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://apis.google.com/js/platform.js" async defer></script>    
        <meta name="google-signin-client_id" content="793670877579-66dmtl5ri10q1m1t69l29e1s3tscrild.apps.googleusercontent.com">
    </head>
    <body>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </body>
</html>