body{
    margin: 50px 50px 50px 50px;
    text-align: center;
}

.inputField{
    margin:10px;
    display:inline;
}

.btnField{
    margin:10px;
    display:inline;
}

.checkboxField{
    margin:10px;
    display:inline;
}