.container{
  margin-top:5%;
}
.display{
  background-color: rgb(233, 233, 233);
  height:100px;
}

.row{
  margin-top:2%;
  margin-bottom:2%;
}

.key{
  background-color: rgb(121, 253, 247);
  height:50px;
  width:24.5%;
  margin-left:1px;
  margin-right:1px;
}

.operator{
  background-color: rgb(255, 243, 71);
  height:50px;
  width:24.5%;
  margin-left:1px;
  margin-right:1px;
}

.cancel{
  background-color:red;
  height:50px;
  width:24.5%;
  margin-left:1px;
  margin-right:1px;
}

.equal{
  background-color:lime;
  height:50px;
}