h1 {
  text-align: center;
}


.container {
  width:auto;
}

button {
  height: 60px;
  width: 24.21%;
  border-radius: 3px;
  border: 1px;
  font-size: 2 rem;
  margin: 3px;
  padding: 5px;
}

body {
  margin-top: 50px;
  width: 100%;
}

#btnEql {
  width: 99.8%;
}

.container {
  width:100%;
  padding:10px;
}

.display {
  margin-bottom: 30px;
}

.buttons {
  width:100%;
}

.gird-items {
  width:80%;
}